<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">

<!--////////////////////////////////////////////////////////////////////////////  -->
<!--Start google fonts and CSS link section  -->
<!--///////////////////////////////////////////////////////////////////////////  -->


  <head>
      <meta content="width=device-width, initial-scale=1" name=viewport charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/base2.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montagu+Slab:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/be0a041bc5.js" crossorigin="anonymous"></script>
  </head>

  <!--////////////////////////////////////////////////////////////////////////////  -->
  <!--End google fonts and CSS link section  -->
  <!--///////////////////////////////////////////////////////////////////////////  -->

  <!--////////////////////////////////////////////////////////////////////////////  -->
  <!--Start Navbar section  -->
  <!--///////////////////////////////////////////////////////////////////////////  -->

  <body>
    <nav id="nav2" class="navbar navbar-expand-md">
      <a id="name_headding" class="navbar-brand link_one" href="{% url 'Website:HomePage' %}"><span class="nav_brand1" >Arron Thompson</span>  <span class="nav_brand2">Arron T</span></a>
      <button id="button1" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span id="breakbutton" class="navbar-toggler-icon">=</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link link_one" href="{% url 'Website:AboutMe' %}">About </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link_one" href="{% url 'Website:Portfolio_main' %}">Portfoilo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link_one" href="{% url 'Website:ContactMe' %}">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <!--////////////////////////////////////////////////////////////////////////////  -->
    <!--End navbar section  -->
    <!--///////////////////////////////////////////////////////////////////////////  -->

    <!--////////////////////////////////////////////////////////////////////////////  -->
    <!--Start Template tagging section  -->
    <!--///////////////////////////////////////////////////////////////////////////  -->


    <div class="content1">

      {% block content %}



      {% endblock %}

    </div>

    <!--////////////////////////////////////////////////////////////////////////////  -->
    <!--End Template tagging section  -->
    <!--///////////////////////////////////////////////////////////////////////////  -->

    <!--////////////////////////////////////////////////////////////////////////////  -->
    <!--Start footer section  -->
    <!--///////////////////////////////////////////////////////////////////////////  -->

    <footer id="footer1">
      <div class="footer sticky-bottom text-center py-3">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-5 col-sm-5 col-12">
              <h5 id="footer_items_brand"><a class="link_one" id="footer_items_brand" href="{% url 'Website:HomePage' %}">Arron Thompson</a></h5>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-0">
              <h5 id="footer_items"><a class="link_one" id="footer_items" href="{% url 'Website:AboutMe' %}">About</a></h5>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-0">
              <h5 id="footer_items"><a class="link_one" id="footer_items" href="{% url 'Website:Portfolio_main' %}">Portfoilo</a></h5>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-0">
              <h5 id="footer_items"><a class="link_one" id="footer_items" href="{% url 'Website:ContactMe' %}">Contact</a></h5>
            </div>
            <div class="col-3 col-lg-3 col-md-1 col-sm-1 col-1"></div>
          </div>
        </div>
    </footer>

<!--////////////////////////////////////////////////////////////////////////////  -->
<!--End footer section  -->
<!--///////////////////////////////////////////////////////////////////////////  -->


  </body>
<script src="{% static 'javascript/base2.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>




</html>
