{% extends "Website/base2.html" %}
{% load static %}

{% block content %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Google font links and link to corrisponding CSS page -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<link rel="stylesheet" href="{% static 'CSS/portfolio_main.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- End Google font links and link to corrisponding CSS page -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Start top section -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->

<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-0 col-xs- col_extra"></div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-xs- col_extra">
      <div class="top">
        <div class="TimeOne">
        <h1 id="headding_font" class="headding">Portfolio.</h1>
        <p id="paragraph__font1" class="sub_headding">Take a look below at some of the projects that I have done.</p>
        <p id="paragraph__font1" class="sub_headding">I am always working on something new. Watch this space for more projects to come in the future.</p>
      </div>
     </div>
    </div>
    <div  class="TimeOne col-xl-4 col-lg-4 col-md-6 col-xs- col_extra">
      <img id="image_settings" class="" src="{% static 'images/portfolio_page_image.png' %}" alt="">
    </div>
    <div class="col-xl-2 col-lg-2 col-md-0 col-xs- col_extra"></div>
</div>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- End top section -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Start completed projects section -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->

<div class="content">
  <div class="container">
    <div class="TimeOne">
      <h2 id="c1_font_headding" class="">Completed Projects</h2>
      <div class="row d-flex mx-auto">
        <div id="column1" class="col-lg-4 col-md-6 col-sm-12">
          <div id="card-style" class="opacity card h-100">
            <a href="{% url 'Website:Project2' %}"><img id="img_portfolio" class="card-img-top" src="{% static 'images/Portfolio_img.png' %}" alt="Card image cap"></a>
            <div class="card-body">
              <h5 id="headding_font2" class="card2 card-title">My Personal Portfolio Website</h5>
              <p id="paragraph__font1" class="card3 card-text">This is my Personal Portfolio Website that you are currently on. It displays my skills, projects that I have completed,
                links to my GitHub/Linkdin profiles and a contact form that sends messages directly to my email.</p>
            </div>
          </div>
        </div>

        <div id="column1" class="col-lg-4 col-md-6 col-sm-12">
          <div id="card-style" class="opacity card h-100">
            <a href="{% url 'Website:Project1' %}"><img class="card-img-top" src="{% static 'images/HomePage_NCD.png' %}" alt="Card image cap"></a>
            <div class="card-body">
              <h5 id="headding_font2" class="card2 card-title">1st Project, The Nomad Camper Damper Website</h5>
              <p id="paragraph__font1" class="card3 card-text">This was my first attempt at building a full website. It is a future business idea for a friend
                 that i built a pseudo website for with the aim of practicing my skills in web development.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- End completed projects section -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- Start Comming soon projects section -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->

  <div class="Comming_soon_section">
    <div class="container">
      <h2 id="c1_font_headding" class="TimeTwo">Coming Soon</h2>
      <div class="row d-flex">
        <div id="column1" class="col-lg-4 col-md-6 col-sm-12">
          <div id="card-style" class="TimeTwo opacity card h-100">
            <img class="card-img-top" src="{% static 'images/partOne_card.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 id="headding_font2" class="card2 card-title">The Nomad Camper Damper Website Version 2</h5>
              <p id="paragraph__font1" class="card3 card-text">I am currently working on cleaning up the code from my first project (I could not leave it unfinished). The goal is to have a functioning Website
                that just needs content added in the future to be uploaded online.</p>
            </div>
          </div>
        </div>

        <div id="column1" class="col-lg-4 col-md-6 col-sm-12">
          <div id="card-style" class="TimeTwo opacity card h-100">
            <img class="card-img-top" src="{% static 'images/chairdressers_logo.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 id="headding_font2" class="card2 card-title">Chairdressers Website</h5>
              <p class="card3 card-text">A website that i am currently making for a Wedding decoration business. The website will display
                photos, contact information and testimonials.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- End comming soon projects section -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->


<script src="{% static 'javascript/Portfolio_main.js' %}"></script>

</div>



{% endblock %}
