{% extends "Website/base2.html" %}
{% load static %}

{% block content %}

<!--////////////////////////////////////////////////////////////////////////////  -->
<!--Start google fonts and CSS link section  -->
<!--///////////////////////////////////////////////////////////////////////////  -->

<link rel="stylesheet" href="{% static 'CSS/Project1.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://kit.fontawesome.com/be0a041bc5.js" crossorigin="anonymous"></script>

<!--////////////////////////////////////////////////////////////////////////////  -->
<!--End google fonts and CSS link section  -->
<!--///////////////////////////////////////////////////////////////////////////  -->

<!--////////////////////////////////////////////////////////////////////////////  -->
<!--Start top2 section  -->
<!--///////////////////////////////////////////////////////////////////////////  -->

<div class="top2">
  <div class="row">
    <div class="col-xl-3 col-lg-1 col-md-1"></div>
    <div class="col-xl-3 col-lg-5 col-md-5">

      <h1 id="headding_font" class="TimeOne">Nomad Camper Damper Website</h1>
    </div>
    <div id="img_section" class="col-xl-3 col-lg-5 col-md-5"> <img id="top_image" class="TimeOne" src="{% static 'images/HomePage_NCD.png' %}" alt=""> </div>
    <div class="col-xl-3 col-lg-1 col-md-1"></div>
  </div>
</div>

<!--////////////////////////////////////////////////////////////////////////////  -->
<!--End top2 section  -->
<!--///////////////////////////////////////////////////////////////////////////  -->

<!--////////////////////////////////////////////////////////////////////////////  -->
<!--Start top3 section  -->
<!--///////////////////////////////////////////////////////////////////////////  -->

<div class="top3">
  <div class="container">
    <div class="TimeOne">
      <p id="paragraph__font1" class="">This is my first attempt at a complete website. It was a steep learning curve, but a great way to learn and gain experience in web development.</p>
      <p id="paragraph__font1" class="">The Project is pseudo website that i built for a friends start-up business idea. The business is called "The Nomad Camper Damper". The Nomad Camper Damper is a future range of baking products that are
        designed to be quick and easy to cook in a campfire whilst camping.</p>
      <p id="paragraph__font1" class="">The websites purpose it to provide information about the company, the products, contact information and an eccomerce store for purchasing the products online.</p>
      <p id="paragraph__font1" class=""> So with all that in mind i have created the website as you will see. There are quite a few bugs which i will discuss later. More Javascript and an increase in security needs to be added. This is
        version 1.0 of the website with a version 2 comming soon.</p><br>

      <div id="link1" class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <div id="centerBlock" class="">
            <a href="https://github.com/AThompson2/NCD_Project">
              <h3 class="rounded" id="link">See The Nomad Camper Damper Code on GitHub</h3>
            </a>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>
</div>

<!--////////////////////////////////////////////////////////////////////////////  -->
<!--End top3 section  -->
<!--///////////////////////////////////////////////////////////////////////////  -->

<!--////////////////////////////////////////////////////////////////////////////  -->
<!--Start content card section  -->
<!--///////////////////////////////////////////////////////////////////////////  -->

<div id="section2" class="container">
  <div class="row d-flex">
    {% for step1 in step1 %}
    <div id="card_section" class="col-lg-4 col-md-6 col-sm-12 col-">
      <div class="card-deck h-95">
        <div id="card-style" class="TimeTwo card">
          <img src="{{ step1.card_image.url }}" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 id="sub_headding1" class="card-title card3">{{ step1.headding_step }}</h5>
            <p id="paragraph__font1" class="card-text card3">{{ step1.short_description }}</p>
            {% if step1 == AA %}
            <button id="button-style" type="button" class="opacity btn btn-primary" data-toggle="modal" data-target="#one"> <span id="button_content"> More Information </span> </button>
            <div class="modal fade" id="one" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div id="modal-xl" class="modal-dialog  modal-xl" role="document">
                <div id="mod1" class="modal-content container">
                  {% for cont in content1 %}
                  <div id="cont" class="container">
                    <h4 id="sub_headding1">{{ cont.headding_content }}</h4>
                    <p id="paragraph__font1">{{ cont.content_paragraph }}</p><br>
                    <img class="img-fluid rounded mx-auto d-block inline_images" src="{{ cont.image_content.url }}" alt="..">
                  </div>
                  {% endfor %}
                  <button id="button-style_modal_close" type="button" class="btn btn-primary" data-dismiss="modal"> <span id="button_content"> Close</span> </button>
                </div>
              </div>
            </div>
            {% elif step1 == DD %}
            <button id="button-style" type="button" class="opacity btn btn-primary" data-toggle="modal" data-target="#two"><span id="button_content"> More Information </span></button>
            <div class="modal fade" id="two" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div id="modal-xl" class="modal-dialog modal-xl" role="document">
                <div id="mod1" class="modal-content container">
                  {% for cont in content2 %}
                  <div id="cont" class="container">
                    <h4 id="sub_headding1">{{ cont.headding_content }}</h4>
                    <p id="paragraph__font1">{{ cont.content_paragraph }}</p><br>
                    <img class="img-fluid rounded mx-auto d-block inline_images" src="{{ cont.image_content.url }}" alt="..">
                  </div>
                  {% endfor %}
                  <button id="button-style_modal_close" type="button" class="btn btn-primary" data-dismiss="modal"> <span id="button_content"> Close</span> </button>
                </div>
              </div>
            </div>
            {% elif step1 == GG %}
            <button id="button-style" type="button" class="opacity btn btn-primary" data-toggle="modal" data-target="#three"><span id="button_content"> More Information </span></button>
            <div class="modal fade" id="three" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div id="modal-xl" class="modal-dialog modal-xl" role="document">
                <div id="mod1" class="modal-content container">
                  {% for cont in content3 %}
                  <div id="cont" class="container">
                    <h4 id="sub_headding1">{{ cont.headding_content }}</h4>
                    <p id="paragraph__font1">{{ cont.content_paragraph }}</p><br>
                    <img class="img-fluid rounded mx-auto d-block inline_images" src="{{ cont.image_content.url }}" alt="..">
                  </div>
                  {% endfor %}
                  <button id="button-style_modal_close" type="button" class="btn btn-primary" data-dismiss="modal"> <span id="button_content"> Close</span> </button>
                </div>
              </div>
            </div>
            {% elif step1 == JJ %}
            <button id="button-style" type="button" class="opacity btn btn-primary" data-toggle="modal" data-target="#four"><span id="button_content"> More Information </span></button>
            <div class="modal fade" id="four" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div id="modal-xl" class="modal-dialog modal-xl" role="document">
                <div id="mod1" class="modal-content container">
                  {% for cont in content4 %}
                  <div id="cont" class="container">
                    <h4 id="sub_headding1">{{ cont.headding_content }}</h4>
                    <p id="paragraph__font1">{{ cont.content_paragraph }}</p><br>
                    <img class="img-fluid rounded mx-auto d-block inline_images" src="{{ cont.image_content.url }}" alt="..">
                  </div>
                  {% endfor %}
                  <button id="button-style_modal_close" type="button" class="btn btn-primary" data-dismiss="modal"> <span id="button_content"> Close</span> </button>
                </div>
              </div>
            </div>
            {% elif step1 == OO %}
            <button id="button-style" type="button" class="opacity btn btn-primary" data-toggle="modal" data-target="#five"><span id="button_content"> More Information </span></button>
            <div class="modal fade" id="five" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div id="modal-xl" class="modal-dialog modal-xl" role="document">
                <div id="mod1" class="modal-content container">
                  {% for cont in content5 %}
                  <div id="cont" class="container">
                    <h4 id="sub_headding1">{{ cont.headding_content }}</h4>
                    <p id="paragraph__font1">{{ cont.content_paragraph }}</p><br>
                    <img class="img-fluid rounded mx-auto d-block inline_images" src="{{ cont.image_content.url }}" alt="..">
                  </div>
                  {% endfor %}
                  <button id="button-style_modal_close" type="button" class="btn btn-primary" data-dismiss="modal"> <span id="button_content"> Close</span> </button>
                </div>
              </div>
            </div>
            {% elif step1 == SS %}
            <button id="button-style" type="button" class="opacity btn btn-primary" data-toggle="modal" data-target="#six"><span id="button_content"> More Information </span></button>
            <div class="modal fade" id="six" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div id="modal-xl" class="modal-dialog modal-xl" role="document">
                <div id="mod1" class="modal-content container">
                  {% for cont in content6 %}
                  <div id="cont" class="container">
                    <h4 id="sub_headding1">{{ cont.headding_content }}</h4>
                    <p id="paragraph__font1">{{ cont.content_paragraph }}</p><br>
                    <img class="img-fluid rounded mx-auto d-block inline_images" src="{{ cont.image_content.url }}" alt="..">
                  </div>
                  {% endfor %}
                  <button id="button-style_modal_close" type="button" class="btn btn-primary" data-dismiss="modal"> <span id="button_content"> Close</span> </button>
                </div>
              </div>
            </div>
            {% elif step1 == JJ1 %}
            <button id="button-style" type="button" class="opacity btn btn-primary" data-toggle="modal" data-target="#seven"><span id="button_content"> More Information </span></button>
            <div class="modal fade" id="seven" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div id="modal-xl" class="modal-dialog modal-xl" role="document">
                <div id="mod1" class="modal-content container">
                  {% for cont in content7 %}
                  <div id="cont" class="container">
                    <h4 id="sub_headding1">{{ cont.headding_content }}</h4>
                    <p id="paragraph__font1">{{ cont.content_paragraph }}</p><br>
                    <img class="img-fluid rounded mx-auto d-block inline_images" src="{{ cont.image_content.url }}" alt="..">
                  </div>
                  {% endfor %}
                  <button id="button-style_modal_close" type="button" class="btn btn-primary" data-dismiss="modal"> <span id="button_content"> Close</span> </button>
                </div>
              </div>
            </div>
            {% elif step1 == RR1 %}
            <button id="button-style" type="button" class="opacity btn btn-primary" data-toggle="modal" data-target="#eight"><span id="button_content"> More Information </span></button>
            <div class="modal fade" id="eight" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div id="modal-xl" class="modal-dialog modal-xl" role="document">
                <div id="mod1" class="modal-content container">
                  {% for cont in content8 %}
                  <div id="cont" class="container">
                    <h4 id="sub_headding1">{{ cont.headding_content }}</h4>
                    <p id="paragraph__font1">{{ cont.content_paragraph }}</p><br>
                    <img class="img-fluid rounded mx-auto d-block inline_images" src="{{ cont.image_content.url }}" alt="..">
                  </div>
                  {% endfor %}
                  <button id="button-style_modal_close" type="button" class="btn btn-primary" data-dismiss="modal"> <span id="button_content"> Close</span> </button>
                </div>
              </div>
            </div>
            {% elif step1 == VV1 %}
            <button id="button-style" type="button" class="opacity btn btn-primary" data-toggle="modal" data-target="#nine"><span id="button_content"> More Information </span></button>
            <div class="modal fade" id="nine" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div id="modal-xl" class="modal-dialog modal-xl" role="document">
                <div id="mod1" class="modal-content container">
                  {% for cont1 in content99 %}
                  <div id="cont" class="container">
                    <h4 id="sub_headding1">{{ cont1.headding_content }}</h4>
                    <p id="paragraph__font1">{{ cont1.content_paragraph }}</p><br>
                    <img class="img-fluid rounded mx-auto d-block inline_images" src="{{ cont1.image_content.url }}" alt="..">
                  </div>
                  {% endfor %}
                  <button id="button-style_modal_close" type="button" class="btn btn-primary" data-dismiss="modal"> <span id="button_content"> Close</span> </button>
                </div>
              </div>
            </div>
            {% elif step1 == CC2 %}
            <button id="button-style" type="button" class="opacity btn btn-primary" data-toggle="modal" data-target="#ten"><span id="button_content"> More Information </span></button>
            <div class="modal fade" id="ten" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div id="modal-xl" class="modal-dialog modal-xl" role="document">
                <div id="mod1" class="modal-content container">
                  {% for cont in content10 %}
                  <div id="cont" class="container">
                    <h4 id="sub_headding1">{{ cont.headding_content }}</h4>
                    <p id="paragraph__font1">{{ cont.content_paragraph }}</p><br>
                    <img id="image1" class="img-fluid rounded mx-auto d-block inline_images" src="{{ cont.image_content.url }}" alt="..">
                  </div>
                  {% endfor %}
                  <button id="button-style_modal_close" type="button" class="btn btn-primary" data-dismiss="modal"> <span id="button_content"> Close</span> </button>
                </div>
              </div>
            </div>
            {% elif step1 == GG2 %}
            <button id="button-style" type="button" class="opacity btn btn-primary" data-toggle="modal" data-target="#eleven"><span id="button_content"> More Information </span></button>
            <div class="modal fade" id="eleven" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div id="modal-xl" class="modal-dialog modal-xl" role="document">
                <div id="mod1" class="modal-content container">
                  {% for cont in content11 %}
                  <div id="cont" class="container">
                    <h4 id="sub_headding1">{{ cont.headding_content }}</h4>
                    <p id="paragraph__font1">{{ cont.content_paragraph }}</p><br>
                    <img class="img-fluid rounded mx-auto d-block inline_images" src="{{ cont.image_content.url }}" alt="..">
                  </div>
                  {% endfor %}
                  <button id="button-style_modal_close" type="button" class="btn btn-primary" data-dismiss="modal"> <span id="button_content"> Close</span> </button>
                </div>
              </div>
            </div>
            {% elif step1 == TT2 %}
            <button id="button-style" type="button" class="opacity btn btn-primary" data-toggle="modal" data-target="#twelve"><span id="button_content"> More Information </span></button>
            <div class="modal fade" id="twelve" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
              <div id="modal-xl" class="modal-dialog modal-xl" role="document">
                <div id="mod1" class="modal-content container">
                  <div id="cont" class="container">
                    {% for cont in content12 %}
                    <h4 id="sub_headding1">{{ cont.headding_content }}</h4>
                    <p id="paragraph__font1">{{ cont.content_paragraph }}</p><br>
                    <img class="img-fluid rounded mx-auto d-block inline_images" src="{{ cont.image_content.url }}" alt="..">
                    {% endfor %}
                    <button id="button-style_modal_close" type="button" class="btn btn-primary" data-dismiss="modal"> <span id="button_content"> Close</span> </button>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div><br><br>
      </div><br><br>
    </div>
    {% endfor %}
  </div>
</div>

<!--////////////////////////////////////////////////////////////////////////////  -->
<!--End content card section  -->
<!--///////////////////////////////////////////////////////////////////////////  -->


<script src="{% static 'javascript/Project1.js' %}"></script>



{% endblock %}
