
/* ///////////////////////////////////////////////////////////// */
/* Start common classes and Id's */
/* ///////////////////////////////////////////////////////////// */

.contact{
  background-color: #ffffff;
  color: #000000;
  padding-top: 50px;
  text-align: center;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

#paragraph__font1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #575757;
  text-align: left;
  font-size: 16px;
}

/* ///////////////////////////////////////////////////////////// */
/* End common classes and Id's */
/* ///////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////// */
/* Start top section */
/* ///////////////////////////////////////////////////////////// */

.top_section{
  padding-top: 50px;
  padding-bottom: 110px;
}

#headding_font{
  font-family: 'Gruppo', cursive;
  font-weight: bolder;
  text-align: left;
  font-size: 50px;
}

#icon_section{
  text-align: center;
  padding-left: 100px;
}

#link{
  color: #000000;
}

#icon1{
    padding-top: 50px;
    padding-bottom: 50px;
}

#icon2{
  color: blue;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
}

#icon3{
  color: #3078f2;
  padding-top: 50px;
  padding-bottom: 50px;
}

#icon4{
  color: #f52c86;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
}


/* ///////////////////////////////////////////////////////////// */
/* End top section */
/* ///////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////// */
/* Start bottom contact section */
/* ///////////////////////////////////////////////////////////// */

.contact_section{
  background-color: #f2f2f2;
  padding-top: 70px;
  padding-bottom: 120px;
  text-align: right;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  border-color: #c4c4c4;
}

.name_email_insert{
  padding-bottom: 10px;
}

.message_box_section{
  padding-top: 75px;
}

.table_pos{
  width: 100%;
  margin-bottom: 20px;
}

.email1{
  width: 100%;
}

.fab{
  height: 100px;
  width: 100px;
}

.bottom_section{
  height:100px;
}

#sub_headding1{
  font-family: 'Gruppo', cursive;
  font-weight: bolder;
  text-align: left;
  font-size: 40px;
  padding-bottom: 20px;
}

#button1{
  text-align: right;
}

input[type=text],{
  width: 100%;
}

#id_name{
    padding: 10px;
    width: 100%;
}

#id_from_email{
  padding: 10px;
  width: 100%;
}

#id_message{
  padding: 70px;
  height: 100px;
  width : 100%
}

.email2{
  padding-top: 35px;
}

/* ///////////////////////////////////////////////////////////// */
/* End bottom contact section */
/* ///////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////// */
/* Start animation and JS class section */
/* ///////////////////////////////////////////////////////////// */

.animated-text {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.animated-text.visible {
  opacity: 1;
  transform: translateX(0);
}

.animate-me{
}

.TimeOne{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #575757;
  visibility: hidden;
}

.TimeTwo{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  visibility: hidden;
}

.left_side-entry {
  animation: anim1 .7s ease-out;
}
.right_side-entry {
  animation: anim2 .7s ease-out;
}

@keyframes anim1 {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes anim2 {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes animation_slideUp {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slideUp {
  animation: animation_slideUp .7s ease-out;
}

/* ///////////////////////////////////////////////////////////// */
/* End animation and JS class section */
/* ///////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////// */
/* Start media breakpoint section */
/* ///////////////////////////////////////////////////////////// */

@media (max-width:1029px) {
  .message_box_section{
    padding-top: 120px;
  }
}

@media (max-width:576px) {
  .top_section{
    padding-bottom: 50px;
  }
  #icon_section{
    padding-left: 15px;
    padding-bottom: 50px;
  }
  #headding_font{
    font-size: 50px;
  }
  #paragraph__font1{
    font-size: 15px;
  }
}

@media (max-width:250px) {
  #headding_font{
    font-size: 25px;
  }
  #paragraph__font1{
    font-size: 10px;
  }
  #sub_headding1{
    font-size: 15px;
  }
  #id_message{
    padding:0px;
  }
}

/* ///////////////////////////////////////////////////////////// */
/* End media breakpoint section */
/* ///////////////////////////////////////////////////////////// */
