
/* ////////////////////////////////////////////////////////////////////////// */
/* start common classes and ID's */
/* ////////////////////////////////////////////////////////////////////////// */

.row{
  margin-right: 0 !important;
  margin-left: 0px;
}

a{
  color: #ffffff;
}

.nav-link{
  color: #ffffff;
}

#paragraph__font1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #575757;
  text-align: left;
  font-size: 14px;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* End common classes and ID's */
/* ////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////// */
/* start top2 section */
/* ////////////////////////////////////////////////////////////////////////// */

.top2 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
}

#headding_font{
  font-family: 'Gruppo', cursive;
  font-weight: bolder;
  text-align: left;
  font-size: 60px;
  color: #575757;
  padding-top: 75px;
  padding-bottom: 75px;
}

#img_section{
  text-align: center;
  padding-top: 110px;
  padding-bottom: 50px;
}

#top_image{
  width: 356px;
  height: auto;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* End top2 section */
/* ////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////// */
/* Start top3 section */
/* ////////////////////////////////////////////////////////////////////////// */

.top3{
  background-color: #f2f2f2;
  padding-top: 50px;
}

#link1{
  padding-bottom: 50px;
}

#link {
  text-align: center;
  align-self: center;
  border-style: solid;
  border-width: thick;
  border-color: #000000;
  color: #000000;
  background-color: #ffffff;
  padding-top: 60px;
  align-items: center;
  width: 200px;
  height: 200px;
  font-weight: bold;
  font-size: 17px;
}

#centerBlock {
  display: table;
  margin: auto;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* End top3 section */
/* ////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////// */
/* Start content card section */
/* ////////////////////////////////////////////////////////////////////////// */

#section2{
  padding-top: 100px;
}

#sub_headding1{
  font-family: 'Gruppo', cursive;
  font-weight: bolder;
  text-align: left;
  font-size: 30px;
  padding-bottom: 14px;
  color: #575757;
}

#card-style{
}

#card_section{
}

#button-style{
  color: #ffffff;
}

#button-style_modal_close{
  color: #ffffff;
  text-align: center;
  width: 25%;
}

.card3{
  color:#001E6C;
}

#modal-xl {
  width: 100%;
  max-width: 1200px;
}

.inline_images {
  height: 600px;
  width: 500px;
  margin-bottom: 60px;
}

.cont {
  text-align: left;
}

#cont {
  text-align: left;
}

#mod1 {
  padding: 0px;
  background-color: #ffffff;
  width: 75%;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
}

#jum {
  text-align: left;
  padding: 0px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
}

#image1{
  max-width: 300px;
  max-height: 500px;
}


/* ////////////////////////////////////////////////////////////////////////// */
/* End content card section */
/* ////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////// */
/* Start animation ans JS class section */
/* ////////////////////////////////////////////////////////////////////////// */

.animated-text {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.animated-text.visible {
  opacity: 1;
  transform: translateX(0);
}

.TimeOne{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #575757;
  visibility: hidden;
}

.TimeTwo{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  /* color: #575757; */
  visibility: hidden;
}

.left_side-entry {
  animation: anim1 .7s ease-out;
}
.right_side-entry {
  animation: anim2 .7s ease-out;
}

@keyframes anim1 {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes anim2 {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes animation_slideUp {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slideUp {
  animation: animation_slideUp .7s ease-out;
}

.opacity {
  opacity: 1;
}

.opacity:hover {
  opacity: 0.7;
}

/* ////////////////////////////////////////////////////////////////////////// */
/* End animation ans JS class section */
/* ////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////// */
/* Stard media breakpoint section */
/* ////////////////////////////////////////////////////////////////////////// */

@media (max-width:768px) {
    #headding_font{
      padding-bottom: 0px;
      text-align: center;
      font-size: 50px;
    }
    #img_section{
      padding-top: 50px;
    }
    .card-deck{
      width:75%;
    }
}

@media (max-width:580px) {
  #paragraph__font1{
    font-size: 12px;
  }
}

@media (max-width:415px) {
  #headding_font{
    font-size: 40px;
    padding-bottom: 70px;
  }
  #img_section{
    display: none;
  }
  #link{
    width: 150px;
    height: 150px;
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #sub_headding1{
    font-size:30px;
  }
}

@media (max-width:290px) {
  #sub_headding1{
    font-size:15px;
  }
  #button-style{
    font-size: 10px;
  }

  #button-style_modal_close{
    font-size: 10px;
  }

  #paragraph__font1{
    font-size: 8px;
  }
  #cont{
    padding:5px;
  }
}

@media (max-width:225px) {
  #button_content{
    display: none;
  }
  #cont{
    padding:5px;
  }
}

@media (max-width:190px) {
  #headding_font{
    font-size: 30px;
  }
  #paragraph__font1{
    font-size: 9px;
  }
  #link{
    width: 100px;
    height: 100px;
    font-size: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #sub_headding1{
    font-size: 8px;
  }
  #paragraph__font1{
    display: none;
  }
}


/* ////////////////////////////////////////////////////////////////////////// */
/* End media breakpoint section */
/* ////////////////////////////////////////////////////////////////////////// */
