
.part1{
  padding-bottom: 150px;
}

.extra {
  width: 350px;
  height: 350px;
  margin-top: 10px;
  border: 4px solid rgb(20, 20, 120);
  text-align: center;
  padding: 20px;
}

.col1{
  background-color: #000000;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left;
}

#grad {
  background-color: #ffffff;
  }

#background_col1{
  background-color: #f2f2f2;
  padding-top: 60px;
}

#background_col2{
  background-color: #f2f2f2;

}

#background_col3{
  background-color: #f2f2f2;
  padding-top: 60px;
}


.col2{
  background-color: #3042e3;
  padding-top: 100px;
  padding-bottom: 100px;
}

.img{
  width: 400px;
  height: 400px;
}

.row{
  margin-right: 0px;
}


.c1{
  color:#2e2e2e;
  font-family: 'Architects Daughter', cursive;
  /* font-family: 'Montagu Slab', serif; */
}

#c1_font_headding_1{
  font-family: 'Gruppo', cursive;
  font-weight:  900;
  font-size: 75px;
}

#c1_font_headding{
  font-family: 'Gruppo', cursive;
  font-weight: bolder;
  font-size: 30px;
}

#c1_font_headding_card{
  font-family: 'Gruppo', cursive;
  font-weight: bolder;
  font-size: 30px;

}

#c1_font{
  /* font-family: 'Architects Daughter', cursive; */
  /* font-family: 'Montagu Slab', serif; */
  /* font-family: 'Khula', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #575757
  /* color: #1f1f24; */

}

#c1_font1{
  /* font-family: 'Architects Daughter', cursive; */
  /* font-family: 'Montagu Slab', serif; */
  /* font-family: 'Khula', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #575757;
  padding-right: 5px;
}

#image_1{

}

.c2{
  text-align: center;
  padding-bottom: 100px;
  background-color: #f2f2f2;
  padding-top: 100px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  border-color: #c4c4c4;
}

.section1{
  list-style-type: none;
  font-size: 30px;
  color: #000000;
}

.sh{
  color: #000000;
}

.skills{
  font-size: 60px;
  color: #000000;
}

@media screen and (max-width: 1024px) {
    .skills_background {
        display: none !important;
    }
}

.skills_background{
  background-color: #3042e3;
  padding-top: 100px;
  padding-bottom: 100px;
}

.skills_headding{
  color: #000000;
  text-align: center;
  font-size: 60px;
}

.skills_list{
  text-align: center;
  list-style-type: none;
  border-bottom-style:solid;
  border-bottom-color: #000000;
  border-width: thin;
}

.side_bar{
  border-right-style:solid;
  border-right-color: #575757;
  border-width: thin;
  height: 125px;
  color: #575757;
  }

.li0{
  font-size: 15px;
}

.li1{
  display: inline;
  width: 10%;
  height:250px;
  background-color:#4D73FF;
  margin-left: 40px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-top-style: double;
  border-right-style: double;
  border-color: #ffffff
}

.li2{
  display: inline;
  width: 10%;
  height:250px;
  background-color:#004DC9;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-top-style: double;
  border-right-style: double;
  border-color: #ffffff
}

.li3{
  display: inline;
  width: 10%;
  height:150px;
  background-color: #4D73FF;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-top-style: double;
  border-right-style: double;
  border-color: #ffffff
}

.li4{
  display: inline;
  width: 10%;
  height:250px;
  background-color: #004DC9;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-top-style: double;
  border-right-style: double;
  border-color: #ffffff
}

.li5{
  display: inline;
  width: 10%;
  height:250px;
  background-color: #4D73FF;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-top-style: double;
  border-right-style: double;
  border-color: #ffffff
}

.li6{
  display: inline;
  width: 10%;
  height:50px;
  background-color: #004DC9;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-top-style: double;
  border-right-style: double;
  border-color: #ffffff
}

.li7{
  display: inline;
  width: 10%;
  height:100px;
  background-color: #4D73FF;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-top-style: double;
  border-right-style: double;
  border-color: #ffffff
}

.part4{
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 100px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  border-color: #c4c4c4;
}

.recent_projects{
  font-size: 50px;
  color: #000000;
}

.card1{
  color: #000000;
}

.card1_paragraph{
  color: #000000;
}

.last_section{
  text-align: center;
  align-self: center;
  justify-content: center;
}

/* Section for all the JS animations */
.animated-text {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.animated-text.visible {
  opacity: 1;
  transform: translateX(0);
}

.animate-me{

}

.left_side-entry {
  animation: anim1 .7s ease-out;
}
.right_side-entry {
  animation: anim2 .7s ease-out;
}

@keyframes anim1 {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes anim2 {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.opacity {
  opacity: 1;
}

.opacity:hover {
  opacity: 0.7;
}



/* Animation testing */

.TimeOne{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #575757;
  visibility: hidden;
}

.TimeTwo{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  /* color: #575757; */
  visibility: hidden;
}


@keyframes animation_slideUp {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slideUp {
  animation: animation_slideUp .7s ease-out;
}

/* Animation testing */




@media (max-width: 991px) {
  .col1{
    padding-bottom: 0px;
  }
  .col2{
    padding-top: 50px;
  }
}

@media (max-width: 528px) {
  #tech_img{
    display: none;
  }
}

@media (max-width: 770px) {
  .card1_paragraph{
    display: none;
  }
  #c1_font_headding_card{
    font-size: 20px;
  }
}

@media (max-width: 382px) {
  #image_1{
    display: none;
  }
  #c1_font_headding_1{
    font-size: 40px;
  }

}

@media (max-width: 180px) {
  #c1_font{
    font-size: 13px;
  }
  #c1_font_headding{
    font-size: 20px;
  }
  #c1_font_headding_1{
    font-size: 30px;
  }
  #c1_font_headding_card{
    display: none;
  }
}
