body{
  background-color: #001E6C;
}

.resume{
  background-color: #001E6C;
  text-align: center;
  padding-top: 250px;
}

h1{
  color:#ffffff;
}



.animated-text {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}

.animated-text.visible {
  opacity: 1;
  transform: translateX(0);
}


.animate-me{

}

.left.side-entry {
  animation: anim1 .7s ease-out;
}
.right.side-entry {
  animation: anim2 .7s ease-out;
}

@keyframes anim1 {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes anim2 {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
